<div class="mb-0 row">
  <div class="col" [ngVar]="{}" #filter="ngVar">
    <div class="s--list-navbar d-none d-sm-block">
      <div id="collapse-header" [ngClass]="{'show':collapsed}" class="collapse multi-collapse">
        <form class="form-inline px-3 pt-3">
          <div class="form-group flex-fill mr-2 mb-3">
            <label class="pr-3" for="searchText" [translate]="'Tables.Search'"></label>
            <input (keydown)="onSearchKeyDown($event)" spellcheck="false" type="text" id="searchText" name="searchText"
              class="form-control col text-left" placeholder="{{ 'Tables.SearchPlaceholder' | translate }}">
          </div>
          <div class="w-100 d-xl-none"></div>
          <div class="btn-group mb-3" role="group col-auto" >
            <label class="pr-3" for="searchText" [translate]="'Tables.GroupBy'"></label>
            <button
              class="btn dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ (group1 ? group1.label : 'Students.Choose') | translate}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"
                *ngFor="let groupType of advancedAggregatorConfiguration.groupProperties"
                (click)="setPrimaryGroup(groupType)"
              >
                {{ groupType.label | translate }}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="setPrimaryGroup(undefined)" [translate]="'Students.Reset'"></a>
            </div>
          </div>
          <div class="btn-group mb-3" role="group col-auto" >
            <button
              class="btn dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              [disabled]="!group1"
            >
              {{ (group2 ? group2.label : 'Students.Choose') | translate}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"
                *ngFor="let groupType of advancedAggregatorConfiguration.groupProperties"
                (click)="setSecondaryGroup(groupType)"
                [hidden]="group1?.property === groupType?.property"
              >
                {{ groupType.label | translate }}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="setSecondaryGroup(undefined)" [translate]="'Students.Reset'"></a>
            </div>
          </div>
          <div class="text-right text-secondary col-auto mb-3" id="heading">
            <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
              type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
              aria-controls="collapse">
              <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.More'"></span>
              <i class="ml-2 pt-1 fa fa-chevron-down"></i>
            </button>
          </div>
        </form>
      </div>

      <div id="collapse" [ngClass]="{'show':!collapsed}" class="collapse multi-collapse" aria-labelledby="heading">
        <div class="row">
          <div class="col-sm-12">
            <div id="advanced-form">
              <app-advanced-search-form (keydown)="advancedSearch($event)" #search [(filter)]="filter.value"></app-advanced-search-form>
              <hr class="mt-0 mb-0" width="97%">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inline p-3">
                    <div class="btn-group mb-3" role="group col-auto" >
                      <label class="pr-3" for="searchText" [translate]="'Tables.GroupBy'"></label>
                      <button
                        class="btn dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        {{ (group1 ? group1.label : 'Students.Choose') | translate}}
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"
                          *ngFor="let groupType of advancedAggregatorConfiguration.groupProperties"
                          (click)="setPrimaryGroup(groupType)"
                        >
                          {{ groupType.label | translate }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="setPrimaryGroup(undefined)" [translate]="'Students.Reset'"></a>
                      </div>
                    </div>
                    <div class="btn-group mb-3" role="group col-auto" >
                      <button
                        class="btn dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        [disabled]="!group1"
                      >
                        {{ (group2 ? group2.label : 'Students.Choose') | translate}}
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"
                          *ngFor="let groupType of advancedAggregatorConfiguration.groupProperties"
                          (click)="setSecondaryGroup(groupType)"
                          [hidden]="group1?.property === groupType?.property"
                        >
                          {{ groupType.label | translate }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="setSecondaryGroup(undefined)"  [translate]="'Students.Reset'"> </a>
                      </div>
                    </div>

                    <div class="col justify-content-between text-right text-secondary">
                      <button type="button" class="btn btn-success pl-4 pr-4 mr-2" (click)="advancedSearch($event);"
                        [translate]="'Tables.Search'"></button>
                      <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapse">
                        <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.Less'"></span>
                        <i class="ml-2 pt-1 fa fa-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="pull-right ml-auto mr-3">
    <div class="btn-group mr-3" role="group">
      <button type="button" class="btn btn-success pl-5 pr-5 universis-btn-export"
              (click)="exportCourses()"  [translate]="'Students.Export'">Action</button>
    </div>
    <div class="btn-group" role="group">
      <ng-container *ngIf="student && student.studentStatus && student.studentStatus.alternateName === 'active'">
        <a class="font-lg btn-toolbar text-indigo text-decoration-none" (click)="editCourses()" type="button">
          <span>+</span><span>&nbsp;</span> <span  [translate]="'Students.AddCourses'"></span>
        </a>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="student" class="row mb-4">
  <app-advanced-aggregator *ngIf="postProcessors"
    [config]="advancedAggregatorConfiguration"
    [params]="aggregatorListData"
    [searchExpression]="searchExpression"
    [aggregators]="aggregatorList"
    [postProcessors]="postProcessors"
    [filters]="filters$"
    [selectedGroups]="selectedGroups$"
    (eventHandler)="onActionEvent($event)"
    class="col"
  ></app-advanced-aggregator>
</div>
