<div class="mt-4 mb-4">
  <div class="alert alert-info col-12 mt-4" [translate]="'Students.Attachments.Info'"></div>
  <div class="row">
    <legend class="col-auto" ref="header" [translate]="'Register.Attachments'"></legend>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar">
        <a class="text-indigo text-decoration-none" (click)="uploadAttachment()" style="cursor: pointer;">
        <span>+</span><span>&nbsp;</span><span [translate]="'Register.AddAttachment'"></span>
        </a>
      </div>
    </div>
  </div>
  <ul class="list-group mt-4" *ngIf="model && model.length">
    <li class="list-group-item" *ngFor="let item of model">
      <div class="d-flex">
        <div class="justify-content-center mr-3">
          <i class="far fa-file-alt fa-2x text-secondary"></i>
        </div>
        <div class="justify-content-start mr-auto">
          {{item.attachmentType?.name}}
          <div class="text-secondary">
            {{item?.contentType}}
          </div>
          <div class="text-secondary">
            <span [translate]="'Register.Owner'"></span>
            <span>:&nbsp;</span>
            <span>{{item?.createdBy?.alternateName}} - {{item?.createdBy?.name}}</span>
          </div>
          <div class="text-secondary">
            <span [translate]="'Register.DateCreated'"></span>
            <span>&nbsp;</span>
            <span>{{item?.dateCreated | date: 'short'}}</span>
          </div>
          <div class="text-secondary">
            <span [translate]="'Register.DateModified'"></span>
            <span>&nbsp;</span>
            <span>{{item?.dateModified | date: 'short'}}</span>
          </div>
        </div>
        <div class="justify-content-end">
          <div class="btn-group">
            <ng-container *ngIf="item.contentType !== 'application/pdf'">
              <button (click)="download(item)" type="button" class="btn btn-theme"
              [translate]="'Register.Download'"></button>
            </ng-container>
            <ng-container *ngIf="item.contentType === 'application/pdf'">
              <button (click)="preview(item)" class="btn btn-theme z-index-0 my-focus"
              [translate]="'Register.Preview'"></button>
            </ng-container>
            <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="download(item)" href="javascript:void(0)">
              <i class="fas fa-download mr-2"></i><span [translate]="'Register.Download'"></span>
              </a>
              <a (click)="preview(item)" *ngIf="item.contentType === 'application/pdf'" href="javascript:void(0)" class="dropdown-item">
              <i class="fas fa-search mr-2"></i><span [translate]="'Register.Preview'"></span>
              </a>
              <a (click)="remove(item)" *ngIf="currentUser != null && item.createdBy != null && currentUser === item.createdBy.id" href="javascript:void(0)" class="dropdown-item">
                <i class="fas fa-unlink mr-2"></i><span [translate]="'Register.Remove'"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="card mt-4" *ngIf="model && model.length === 0">
    <div class="card-body">
      <h4 [translate]="'Register.NoAttachments'" class="text-secondary font-weight-normal mb-0">
      </h4>
    </div>
  </div>
</div>
<app-attachment-download></app-attachment-download>
