<div>
    <div *ngIf="model">
        <h4 class="font-weight-normal">
            {{model.name}}
            <h5 class="font-weight-normal">{{model.description}}</h5>
        </h4>
    </div>
    <app-advanced-list [tableConfiguration]="tableConfiguration" #list></app-advanced-list>
    <router-modal></router-modal>
</div>