<div *ngIf="model">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mr-2 my-auto" [translate]="'Sidebar.Theses'"></h5>
      <span class="font-xl mr-2 mr-lg-5 ml-auto my-auto">{{ model? model?.length : 0 }}</span>
      <a [routerLink]="['/instructors', this.id, 'dashboard', 'theses']" class="text-primary my-auto"><span [translate]="'Expandable.More'"></span></a>
    </div>
  </div>
</div>
