
<div *ngIf="department">
  <div class="card" *ngIf="department?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Departments.TabsInfo.viewTitle'"></h5>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ListTable.Name'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ListTable.facultyName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.facultyName}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ListTable.ID'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ListTable.StudyLevel'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyLevels.' + department.studyLevel.alternateName | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ListTable.ContactDetails'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.contactPerson1}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ContactsInfo.alternateContactPerson'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ department?.contactPerson2}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ContactsInfo.phone'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.phone1 }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.ContactsInfo.alternatePhone'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{department?.phone2}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Departments.Email'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ department?.email}}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <a href="#/departments/{{this.departmentsId}}/edit" class="btn btn-md bg-color-theme text-light w-50 mt-2"
           [translate]="'Departments.Edit'"></a>
      </div>
    </div>

  </div>
</div>
